# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/
next-env.d.ts

# output
/dist
/build
public

# minified files
*.min.*

# misc
CHANGELOG.md
package.json
package-lock.json
.versionrc
.DS_Store
*.pem

# debug
*.log*

# env files
.env
.env.*

# vercel
.vercel

#github
/.github
